/* Usage
  <div class="mospin-wave-dots-five">
    <div class="mospin-dot mospin-dot1"></div>
    <div class="mospin-dot mospin-dot2"></div>
    <div class="mospin-dot mospin-dot3"></div>
    <div class="mospin-dot mospin-dot4"></div>
    <div class="mospin-dot mospin-dot5"></div>
  </div>
*/

.mospin-wave-dots-five {
  margin: 0 auto;
  width: 200px;
  height: 32px;
  display:block; }
  .mospin-wave-dots-five .mospin-dot {
    background-color: #ecf0f1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left:20px;
    display: inline-block;
    -webkit-animation: mospin-WaveDotMove 2.5s infinite ease-in-out;
            animation: mospin-WaveDotMove 2.5s infinite ease-in-out; }
  .mospin-wave-dots-five .mospin-dot2 {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .mospin-wave-dots-five .mospin-dot3 {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
  }
  .mospin-wave-dots-five .mospin-dot4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
  }
  .mospin-wave-dots-five .mospin-dot5 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
  }

@-webkit-keyframes mospin-WaveDotMove {
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes mospin-WaveDotMove {
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}
